$jds-color-black: #0E0220;
$jds-color-white: #FFFFFF;
$jds-color-magenta: #E40475;
$jds-color-cyan: #48E0E4;
$jds-color-red: #F50707;
$jds-color-orange: #FF8A01;
$jds-color-yellow: #FFF73E;
$jds-color-green: #0D991B;
$jds-color-blue: #482DF2;
$jds-color-berry: #690C49;

$font-stack: 'Poppins', sans-serif;

